
form.flat {
	display:inline;
}

input.form{
	border: 0;
	padding-left: 2px;
	background-image: url("loginbar.jpg");
	background-repeat: no-repeat;
	width:113px;
	height: 16px;
}

input.form2{
	border: 0;
	padding-left: 2px;
	background-image: url("loginbar2.png");
	background-repeat: no-repeat;
	width:155px;
	height: 16px;
}

*#ok_button{
	background-image: url("ok_button.png");
	width:100px;
	height:30px;
	text-decoration: none;
	border: 0;
	font-size: 12px;
	font-weight: bold;
	font-family: verdana;
	color:green;
}
