@CHARSET "UTF-8";

body{
	background-color: black;
}

.forum_ohraniceni{
	width:830px;
	margin-left: auto;
	margin-right: auto;
}
/*
	VRSEK
*/
.forum_vrsek{
	background-image:url(bg_vrsek.png);
	background-repeat:no-repeat;
	height:43px;
}

/*
	BANNER
*/
.forum_banner{
	height: 53px;
	background-color: black;
}
/*
	REKLAMNI BANNER
*/
#reklamni_banner{
	height: 67px;
	width: 674px;
	position: absolute;
	left: 26px;
	top: 165px;
}

/*
	OBSAH
*/

.forum_obsah{
	background-image:url(forum_obsah.jpg);
	background-repeat:no-repeat;
	height: 1388px;
	position:relative;
}

#sidemenu{
	position: absolute;
	left: 14px;
	top: 250px;
}

#sidemenu tr{
	height: 50px;
}
#sidemenu img{
	border: 0px;
}

#odeslat {
	background-image:url(button_odeslat.png);
	border:0px none;
	color:white;
	cursor:pointer;
	height:30px;
	left:706px;
	position:absolute;
	top:168px;
	width:87px;
}

#obnovit {
	border:0px none;
	color:white;
	cursor:pointer;
	height:30px;
	left:706px;
	position:absolute;
	top:201px;
	width:87px;
}

.nadpis_vlevo {
	color:#FFCC00;
	float:left;
	font-size:large;
	padding-left:10px;
	padding-top:10px;
}

#forum_zpravy{
	position: absolute;
	left:149px;
	top:248px;
	width:643px;
	height:1109px;
	color:white;
	overflow-y: auto; 
	overflow: -moz-scrollbars-vertical; 
}

#text_odeslat{
	position: absolute;
	left:31px;
	top:30px;
	
	background-color: #292900;
	color:white;
	border:1px solid black;
	width:760px;
	height: 129px;
}

.navigation{
	position: absolute;
	left:149px;
	top:1365px;
}

.post{
	margin: 20px 50px 20px 50px;
	background-color: #474140;
	padding: 5px;
}
.post_icon{
	float: left;
	width: 32px;
}
.post_body{
	margin: 10px;
	margin-left: 40px;
}

.post_header{
	margin-left: 40px;
}

.post_time{
	font-size: 10pt;
}