/* spolecne styly */
html {
  scrollbar-base-color: #42453e; 
scrollbar-track-color: Silver;
scrollbar-face-color: DimGray;
scrollbar-highlight-color: DarkGray;
scrollbar-3dlight-color: black;
scrollbar-darkshadow-color: black;
scrollbar-shadow-color: black;
scrollbar-arrow-color: black;
}

.oznameni{
	color: red;
}

.cervena{
	color: red;
}

.zelena{
	color: limeGreen;
}

body {
  padding: 0px;
  margin: 0px;
  background: black;

 /* font-family: "Franklin Gothic Heavy", Arial, sans;*/
  font-family: Arial, sans;
	color: #cccccc;
}

strong{
	font-weight:bold;
	color: red;
}

.error{
	color: red;
}

.footer{
	margin: 20px;
	text-align: right;
}

.all_suroviny{
	color: #ff9933;
}

.all_palivo{
	color: #cc66ff;
}

.all_body_vlivu{
	color: #cccc66;
}